<div class="subscribe inline-form">
  <div class="sticky-div">
    <div class="curated"><a href="/recommendations-from-techies">Techie's List</a></div>
    <div class="curated"><a href="/recommendations-from-history-buffs">History Buff's List</a></div>
    <div class="curated"><a href="/recommendations-from-writers">Writer's List</a></div>
    <div class="curated"><a href="/recommendations-from-scientists">Scientist's List</a></div>
    <div class="curated"><a href="/recommendations-from-philosophers">Philosopher's List</a></div>
    <div class="curated"><a href="/recommendations-from-entrepreneurs">Entrepreneur's List</a></div>
    <div class="curated"><a href="/recommendations-from-econ-nerds">Econ Nerd's List</a></div>
  </div>
</div>