<% data.forEach(function(rec, i) { %>
  <div class="recommender-collection">
    <div class="thumbnail-container" data-toggle="modal" data-target="#recModal"
      data-name=<%- JSON.stringify(rec.name) %>
      data-bio=<%- JSON.stringify(rec.bio) %>
    >
      <img class="img-circle" src=<%- JSON.stringify(rec.thumbnail) %>/>
    </div>
    <div class="recommender" data-toggle="modal" data-target="#recModal"><%- rec.name %></div>
  </div>
<% }) %>