<!DOCTYPE html>
<html>
<head>
  <% include ./partials/layout/head %>
</head>
<body>
  <% include ./partials/layout/nav %>

  <div id="app">

    <% include ./partials/layout/tagline %>
    <% include ./partials/modals/rec_modal %>

    <div class="books">
      <% include ./partials/misc/loader %>
      <!-- books go here -->
    </div>
  </div>

  <% include ./partials/layout/footer %>

  <script src="../scripts/collections.js"></script>
</body>
</html>