<!DOCTYPE html>
<html>
<head>
  <% include ./partials/layout/head %>
</head>
<body>

  <% include ./partials/layout/nav %>

  <div id="app">

    <% include ./partials/layout/tagline %>

    <div class="filters">
      <% include ./partials/filters/genre_filter %>
      <% include ./partials/filters/length_filter %>
      <% include ./partials/filters/age_filter %>
      <% include ./partials/filters/sorts.ejs %>
      <div class="filter-options">
        <button type="button" class="show-results btn btn-default"> Show Results </button>
        <button type="button" class="show-advanced active btn btn-default"> Advanced Filters </button>
      </div>
    </div>

    <% include ./partials/modals/book_modal %>

    <div class="books">
      <ul class="books-list list-group">
        <% include ./partials/misc/loader %>
        <!-- books go here -->
      </ul>
    </div>
  </div>

  <% include ./partials/layout/footer %>

  <div class="twitter-follow">
    <a href="https://twitter.com/AmmarM08" class="twitter-follow-button" data-show-count="false" style="display:none">Follow @AmmarM08</a>
    <script async>
    !function(d,s,id){
      var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);
      }}(document, 'script', 'twitter-wjs'); 
      $('.twitter-follow').show();
    </script>
  </div>

  <script src="../scripts/books.js"></script>
</body>
</html>