<!DOCTYPE html>
<html>
<head>
  <% include ./partials/layout/head %>
</head>
<body>
  <% include ./partials/layout/nav %>

  <div id="app">

    <% include ./partials/layout/tagline %>
    <% include ./partials/modals/rec_modal %>

    <div class="recs">
      <!-- recs go here -->
      <% include ./partials/misc/rec %>
    </div>
  </div>

  <% include ./partials/layout/footer %>

  <script type="text/javascript">
    window.initThinkersPage();
  </script>
</body>
</html>