<footer class="footer">
  <div class="footer-message">
    <p>Any suggestions or tips? Hit us up at <a>hi@bookswell.io</a></p>
    <p>List based on <a href="http://www.thoughtleaders.world/en/2015-2/global/" target="_blank">GDI/WorldPost's Most Influential Thinkers of 2015</a> list.</p>
  </div>
</footer>