<div class="subscribe inline-form">
  <div id="subscribe-message">Book recommendations from the world's most influential scientists, novelists, and thinkers.</div>
  <div class="sticky-div">
    <div>
      Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="http://www.twitter.com/ammarm08" target="_blank">Ammar</a>. As seen on <a href="http://producthunt.com/tech/bookswell" target="_blank"> Product Hunt</a> and <a href="https://www.reddit.com/r/books/comments/4odl8p/1000_book_recs_from_the_worlds_most_influential/" target="_blank"> reddit</a>.
    </div>
  </div>
</div>