<!DOCTYPE html>
<html>
<head>
  <title>Bookswell</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat" />
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"   
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/a1990ff7a7.js"></script>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand"><i class="glyphicon glyphicon-home"></i>  Bookswell</div>
      </div>
      <div class="collapse navbar-collapse pull-right">
        <ul class="nav navbar-nav">
          <li><a href="/books">Books</a></li>
          <li class="active"><a href="/collections">Collections</a></li>
          <li><a href="/authors">Authors</a></li>
          <li><a href="#" id="join-list">Join</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="app">

    <div class="subscribe inline-form">
      <div id="subscribe-message">Book recommendations from the world's most influential scientists, novelists, and thinkers.</div>
      <div class="sticky-div">
      <div>
        Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="#">Ammar</a>.
      </div>
    </div>
    </div>

    <div class="books">
      <ul class="books-list list-group">
        <!-- books go here -->
      </ul>
    </div>
  </div>

  <footer class="footer">
    <div class="footer-message">
      * List based upon GDI/WorldPost's Most Influential Thinkers of 2015 list.
    </div>
  </footer>

  <script type="text/javascript">
    (function() {
      $(document).ready(function() {
        // GLOBALS
        var PAGE = 0;
        var all_data = [];
        var selected_data = [];
        var $list = $('.books-list');

        // INITIAL DATA FETCH
        fetch_books();

        function fetch_books() {
          $.ajax({
            type: 'GET',
            url: '/api/recommenders',
            success: function(data) {
              $list.empty();
              all_data = data;
              selected_data = all_data;
              loadNextRecommenderGroup(PAGE, selected_data);
              PAGE++;
            }
          })
        }

        // LOAD NEXT 15 results
        function loadNextRecommenderGroup(p, data) {
          append_all_recs_to_table(data.slice(p*15, 15 + p*15));
          append_rec_pagination(data);
        }

        // APPEND A LIST OF RECOMMENDERS
        function append_all_recs_to_table(recs) {
          recs.forEach(function(r) {
            append_one_rec_to_table(r);
          });
        }

        function append_rec_pagination(data) {
          var total = data.length;
          var current = total <= 15 + PAGE * 15 ? total : 15 + PAGE * 15;
          var $next_results = $('<a class="next_results">More Recommenders (viewing ' + current + ' of ' + total + ') </a>');
          $next_results.click(function(e) {
            this.remove();
            e.preventDefault();
            loadNextRecommenderGroup(PAGE, data);
            PAGE++;
          });
          $list.append($next_results);
        }

        // BUILD INDIVIDUAL BOOK ITEM & APPEND IT TO LIST
        function append_one_rec_to_table(rec) {
          var $row = $('<li class="list-group-item" style="display: none"></li>');

          var $recommender = $('<div class="recommender"></div>');
          $recommender.text(rec.name);

          var $recommendations = $('<div class="list-group"></div>');
          rec.recommended_books.forEach(function(book) {
            var $b = $('<div class="list-group-item"></div>');
            $b.text(book);
            $recommendations.append($b);
          })

          $row.append($recommender).append($recommendations);
          $list.append($row);
          $row.fadeIn();
        }
      })
    })()
  </script>
</body>
</html>