<!DOCTYPE html>
<html>
<head>
  <title>Bookswell</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat" />
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"   
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/a1990ff7a7.js"></script>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/"><i class="glyphicon glyphicon-collapse-down"></i>  Bookswell</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#link-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse pull-right" id="link-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/books">Books</a></li>
              <li class="active"><a href="/collections">Collections</a></li>
              <li><a href="http://eepurl.com/b5XRYX" target="_blank" id="join-list">Join</a></li>
            </ul>
          </div>
        </div>
  </nav>

  <div id="app">

    <div class="subscribe inline-form">
      <div id="subscribe-message">Book recommendations from the world's most influential scientists, novelists, and thinkers.</div>
      <div class="sticky-div">
      <div>
        Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="http://www.twitter.com/ammarm08" target="_blank">Ammar</a>.
      </div>
    </div>
    </div>

    <div class="modal fade" id="recModal" tabindex="-1" role="dialog" aria-labelledby="recModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-title"></div>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12 metadata">
                <div id="book_about">ABOUT</div>
                <div class="modal-about"></div>
                <div id="book_recommendations">RECOMMENDATIONS</div>
                <div class="modal-recommendations">
                  <div class="recommendations-container list-group">
                    <!-- recommendations go here -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="books">
      <!-- books go here -->
    </div>
  </div>

  <footer class="footer">
    <div class="footer-message">
      <p>* List based upon GDI/WorldPost's Most Influential Thinkers of 2015 list.</p>
      <p>Any suggestions or tips? Hit us up at <a>hi@bookswell.io</a></p>
    </div>
  </footer>

  <script type="text/javascript">
    (function() {
      $(document).ready(function() {
        // GLOBALS
        var all_data = [];
        var $books = $('.books');

        // INITIAL DATA FETCH
        fetch_books();

        function fetch_books() {
          $.ajax({
            type: 'GET',
            url: '/api/recommenders',
            success: function(data) {
              $books.empty();
              all_data = data;
              loadNextRecommenderGroup(all_data);
            }
          })
        }

        // LOAD NEXT 15 results
        function loadNextRecommenderGroup(data) {
          append_all_recs_to_table(data);
        }

        // APPEND A LIST OF RECOMMENDERS
        function append_all_recs_to_table(recs) {
          recs.forEach(function(r) {
            append_one_rec_to_table(r);
          });
        }

        // BUILD INDIVIDUAL BOOK ITEM & APPEND IT TO LIST
        function append_one_rec_to_table(rec) {
          var $grid = $('<div class="recommender-collection" style="display: none"></div>');
          var $recommender = $('<div class="recommender" data-toggle="modal" data-target="#recModal"></div>');
          $recommender.text(rec.name);

          var $thumb = $('<img class="img-circle"/>');
          $thumb.attr('src', rec.thumbnail);

          $grid.append($thumb).append($recommender);

          $grid.on('click', function(e) {
            e.preventDefault();

            $('.modal-title').text(rec.name + "'s Picks");
            $('.modal-about').text('Evgeny Morozov is a writer who studies political and social implications of tech.');

            $('.recommendations-container').empty();
            rec.recommended_books.forEach(function(b) {
              var $recommendation = $('<div class="list-group-item recommendation"></div>');
              $recommendation.text(b);
              $('.recommendations-container').append($recommendation);
            })
          });

          $books.append($grid);
          $grid.fadeIn();
        }
      })
    })()
  </script>
</body>
</html>