<!DOCTYPE html>
<html>
<head>
  <title>Bookswell</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat" />
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"   
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/a1990ff7a7.js"></script>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><i class="glyphicon glyphicon-collapse-down"></i>  Bookswell</a>
      </div>
      <div class="collapse navbar-collapse pull-right">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/books">Books</a></li>
          <li><a href="/collections">Collections</a></li>
          <li><a href="http://eepurl.com/b5XRYX" target="_blank" id="join-list">Join</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="app">

    <div class="subscribe inline-form">
      <div id="subscribe-message">Book recommendations from the world's most influential scientists, novelists, and thinkers.</div>
      <div class="sticky-div">
      <div>
        Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="http://www.twitter.com/ammarm08" target="_blank">Ammar</a>.
      </div>
    </div>
    </div>

    <div class="filters">
      <!-- GENRE -->
      <div class="filter-by-genre">
        <div class="btn-group" role="group" aria-label="filter-by-genre">
          <button type="button" class="genre_filter btn btn-default"> Math / Science </button>
          <button type="button" class="genre_filter btn btn-default"> The Mind </button>
          <button type="button" class="genre_filter btn btn-default"> Culture </button>
          <button type="button" class="genre_filter btn btn-default"> Econ + Gov </button>
          <button type="button" class="genre_filter btn btn-default"> Faith </button>
          <button type="button" class="genre_filter btn btn-default"> Fiction </button>
          <button type="button" class="genre_filter btn btn-default"> Business </button>
          <button type="button" class="all_genres genre_filter btn btn-default active"> All </button>
        </div>
      </div>

      <!-- LENGTH -->
      <div class="filter-by-length advanced-filter" style="display: none">
        <div class="btn-group" role="group" aria-label="filter-by-length">
          <button type="button" class="length_filter btn btn-default"> Short </button>
          <button type="button" class="length_filter btn btn-default"> Medium </button>
          <button type="button" class="length_filter btn btn-default"> Long </button>
        </div>
      </div>

      <!-- AGE -->
      <div class="filter-by-age advanced-filter" style="display: none">
        <div class="btn-group" role="group" aria-label="filter-by-age">
          <button type="button" class="age_filter btn btn-default"> &lt; 1900 </button>
          <button type="button" class="age_filter btn btn-default"> 1900s </button>
          <button type="button" class="age_filter btn btn-default"> 2000s </button>
        </div>
      </div>

      <div class="filter-options">
        <button type="button" class="show-results btn btn-default"> Show Results </button>
        <button type="button" class="show-advanced btn btn-default"> Advanced Filters </button>
      </div>

      <!-- CLEAR ALL FILTERS -->
      <div class="clear-all-filters" style="display: none">
        <div class="btn-group" role="group" aria-label="clear-all-filters">
          <button type="button" class="btn btn-default"> Clear All Filters </button>
        </div>
      </div>

    </div>
    <div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="bookModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-title"></div>
            <div class="action-buttons">
              <div class="get-book-group">
                <a class="btn btn-default get-book">Get Book</a>
                <div class="modal-recommenders"></div>
              </div>
            </div>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-8 metadata">
                <div id="book_about">ABOUT</div>
                <div class="modal-about"></div>
                <div id="book_blurb">AUTHOR</div>
                <div class="modal-blurb"></div>
                <div id="book_review">REVIEW</div>
                <div class="modal-review"></div>
              </div>
              <div class="col-sm-4">
                <div id="book_details">DETAILS</div>
                <div class="modal-year"></div>
                <div class="modal-length"></div>
                <div class="modal-genre"></div>
                <div class="modal-edit-book">
                  <a class="btn btn-default" href="https://ammar44.typeform.com/to/auWrLe" target="_blank">Edit</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="books">
      <ul class="books-list list-group">
        <!-- books go here -->
      </ul>
    </div>
  </div>

  <footer class="footer">
    <div class="footer-message">
      <p>* List based upon GDI/WorldPost's Most Influential Thinkers of 2015 list</p>
      <p>Any suggestions or tips? Hit us up at <a>hi@bookswell.io</a></p>
    </div>
  </footer>

  <script type="text/javascript">
    (function() {
      $(document).ready(function() {
        // GLOBALS
        var PAGE = 0;
        var genre_list = $('.genre_filter').map(function() { return $(this).text().trim(); }).toArray();
        var all_data = [];
        var selected_data = [];
        var selected_genres = genre_list;
        var $list = $('.books-list');

        // SHOW ADVANCED LISTENER
        $('.show-advanced').on('click', function(e) {
          e.preventDefault();
          // $('.advanced-filter').show();
          if ($('.advanced-filter:visible').length) {
            $('.advanced-filter').hide();
            $('.show-advanced').text('Advanced Filters');
          } else {
            $('.advanced-filter').show();
            $('.show-advanced').text('Show Less Filters')
          }
        })        

        // GENRE FILTER LISTENER
        $('.genre_filter').on('click', function(e) {
          e.preventDefault();

          // reset to ALL
          if ($(this).text().trim() === 'All') {
            $('.genre_filter').removeClass('active');
            $('.all_genres').addClass('active');
            selected_genres = genre_list;
          // toggle off 
          } else if ($(this).hasClass('active')) {
            $(this).removeClass('active');
            $(this).blur();
            var self = this;
            selected_genres = selected_genres.filter(function(genre) {
              return genre !== $(self).text().trim();
            });
          // edge case: all filters selected, reset to ALL
          } else if ($('.filter-by-genre .active').length >= 6) {
            $('.all_genres').trigger('click');
          // toggle on
          } else {
            $(this).addClass('active');
            $('.all_genres').removeClass('active');

            // first filter applied -> empty genres array
            if ($('.filter-by-genre .active').length === 1) {
              selected_genres = [];
            }

            selected_genres.push($(this).text().trim());
          }

          $list.empty();
          PAGE = 0;

          // set data to all books within selected list of genres
          selected_data = all_data.filter(function(book) {
            return selected_genres.indexOf(book.genre) !== -1;
          })

          loadNextBooksGroup(PAGE, selected_data);
          PAGE++;
        });

        // INITIAL DATA FETCH
        fetch_books();

        function fetch_books() {
          $.ajax({
            type: 'GET',
            url: '/api/books',
            success: function(data) {
              $list.empty();
              all_data = data;
              selected_data = all_data;
              loadNextBooksGroup(PAGE, selected_data);
              PAGE++;
            }
          })
        }

        // LOAD NEXT 15 results
        function loadNextBooksGroup(p, data) {
          append_all_to_table(data.slice(p*15, 15 + p*15));
          append_pagination(data);
        }

        // APPEND A LIST OF BOOKS
        function append_all_to_table(books) {
          books.forEach(function(book) {
            append_one_to_table(book);
          });
        }

        function append_pagination(data) {
          var total = data.length;
          var current = total <= 15 + PAGE * 15 ? total : 15 + PAGE * 15;
          var $next_results = $('<a class="next_results">More Results (viewing ' + current + ' of ' + total + ') </a>');
          $next_results.click(function(e) {
            this.remove();
            e.preventDefault();
            loadNextBooksGroup(PAGE, data);
            PAGE++;
          });
          $list.append($next_results);
        }

        // BUILD INDIVIDUAL BOOK ITEM & APPEND IT TO LIST
        function append_one_to_table(book) {
          var $row = $('<li class="list-group-item" style="display: none"></li>');

          var $book = $('<div class="book" data-toggle="modal" data-target="#bookModal"></div>')
          var $title = $('<div class="book_title"></div>');
          var $author = $('<div class="book_author"></div>');

          var $data = $('<div class="book_data"></div>')
          var $genre = $('<div class="book_genre">' + book.genre + '</div>');

          var year = book.year;
          if (year < 0) {
            year = parseInt(Math.abs(year)) + ' BC';
          } else if (parseInt(year) < 1400) {
            year = parseInt(year) + ' AD';
          }
          var $length = $('<div class="book_length">' + book.length + ' pages  (' + year + ')</div>');

          var $recommenders = $('<div class="book_recommenders"></div>'); 

          // TITLE + AUTHOR
          if (book.title.length > 50) {
            $title.text(book.title.slice(0,50) + '...');
          } else {
            $title.text(book.title);
          }
          
          $author.text(book.author);
          $book.append($title).append($author);
          $book.on('click', function(e) {
            $('.modal-title').text(book.title);
            $('.modal-about').text('A compelling narrative on the self-organized nature of the universe.');
            $('.modal-blurb').text('Richard Dawkins is an English ethologist, evolutionary biologist and author. He is an emeritus fellow of New College, Oxford.')
            $('.get-book').attr('href', book.link).attr('target', '_blank');
            $('.modal-image').attr('src', 'https://images-na.ssl-images-amazon.com/images/I/41YdCQ5bIAL.jpg');
            $('.modal-year').text(year);
            $('.modal-length').text(book.length + ' pages');
            $('.modal-genre').text(book.genre);

            $('.modal-review').empty();
            $('.modal-recommenders').empty();

            var count = 0;
            var review_text = "";
            while (count < book.reviews.length) {
              if (book.reviews[count] !== '""') {
                review_text = book.reviews[count];
                break;
              } else {
                count++;
              }
            }

            if (review_text.length) {
              var $review = $('<div></div>');
              $review.text(review_text + ' - ' + book.recommenders[count]);
              $('.modal-review').append($review);
            }

            var i = 0;
            while (i < book.recommenders.length) {
              var $thumb = $('<img class="img-circle"/>');
              var recommender = book.recommenders[i];

              $thumb.data('toggle', 'tooltip');
              $thumb.attr('title', 'Recommended by ' + recommender);
              $thumb.attr('src', book.thumbnails[i]);

              $('.modal-recommenders').append($thumb);
              $thumb.tooltip();

              i++;
            }
          })

          // DATA
          $data.append($genre).append($length);

          // RECOMMENDERS
          var i = 0;
          while (i < book.recommenders.length) {
            var $thumb = $('<img class="img-circle"/>');
            var recommender = book.recommenders[i];
            var review = book.reviews[i] === '""' ? null : book.reviews[i].trim();
            var tooltip_text = review ? recommender + ': ' + review : recommender;

            $thumb.data('toggle', 'tooltip');
            $thumb.attr('title', tooltip_text);
            $thumb.attr('src', book.thumbnails[i]);

            $recommenders.append($thumb);
            $thumb.tooltip();

            i++;
          }

          var $span = $('<span><a href="#"></a></span>');
          $span.text(' (' + book.recommenders.length + ')');
          $span.data('toggle', 'tooltip');
          $span.attr('title', book.recommenders.join(', '));
          $recommenders.append($span);
          $span.tooltip();

          // POST
          $row.append($book)
              .append($data)
              .append($recommenders);

          $list.append($row);
          $row.fadeIn();
        }
      })
    })()
  </script>
</body>
</html>