<!DOCTYPE html>
<html>
<head>
  <title>Bookswell</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat" />
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"   
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/a1990ff7a7.js"></script>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand"><i class="glyphicon glyphicon-home"></i>  Bookswell</div>
      </div>
      <div class="collapse navbar-collapse pull-right">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Books</a></li>
          <li><a href="#">Collections</a></li>
          <li><a href="#">Authors</a></li>
          <li><a href="#" id="join-list">Join</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="app">

    <div class="subscribe inline-form">
      <div id="subscribe-message">Book recommendations from the world's most influential scientists, novelists, and thinkers.</div>
      <div class="sticky-div">
      <div>
        Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="#">Ammar</a>.
      </div>
    </div>
    </div>

    <div class="filters">
      <!-- GENRE -->
      <div class="filter-by-genre">
        <div class="btn-group" role="group" aria-label="filter-by-genre">
          <button type="button" class="btn btn-default"> Physics </button>
          <button type="button" class="btn btn-default"> Life Sciences </button>
          <button type="button" class="btn btn-default"> Numbers </button>
          <button type="button" class="btn btn-default"> Business </button>
          <button type="button" class="btn btn-default"> The Mind </button>
          <button type="button" class="btn btn-default"> History </button>
          <button type="button" class="btn btn-default"> Literature </button>
          <button type="button" class="btn btn-default"> All </button>
        </div>
      </div>

      <!-- LENGTH -->
      <div class="filter-by-length">
        <div class="btn-group" role="group" aria-label="filter-by-length">
          <button type="button" class="btn btn-default"> Short </button>
          <button type="button" class="btn btn-default"> Medium </button>
          <button type="button" class="btn btn-default"> Long </button>
        </div>
      </div>

      <!-- AGE -->
      <div class="filter-by-age">
        <div class="btn-group" role="group" aria-label="filter-by-age">
          <button type="button" class="btn btn-default"> &lt 1900 </button>
          <button type="button" class="btn btn-default"> 1900s </button>
          <button type="button" class="btn btn-default"> 2000s </button>
        </div>
      </div>

      <!-- CLEAR ALL FILTERS -->
      <div class="filter-by-frequency">
        <div class="btn-group" role="group" aria-label="filter-by-frequency">
          <button type="button" class="btn btn-default"> Clear All Filters </button>
        </div>
      </div>

    </div>
    <div class="books">
      <ul class="books-list list-group">
        <!-- books go here -->
      </ul>
    </div>
  </div>

  <footer class="footer">
    <div class="footer-message">
      * List based upon GDI/WorldPost's Most Influential Thinkers of 2015 list.
    </div>
  </footer>

  <script type="text/javascript">
    (function() {
      $(document).ready(function() {
        // GLOBALS
        var PAGE = 0;
        var local_data = JSON.parse(localStorage.getItem('books_list'));
        var $list = $('.books-list');

        // INITIAL DATA FETCH
        fetch_books();

        function fetch_books() {
          if (!local_data) {
            $.ajax({
              type: 'GET',
              url: '/api/books',
              success: function(data) {
                $list.empty();
                append_all_to_table(data.slice(0, 15 + PAGE*15));
                PAGE++;
                localStorage.setItem('books_list', JSON.stringify(data));
                local_data = JSON.parse(localStorage.getItem('books_list'));
              }
            })
          } else {
            $list.empty();
            append_all_to_table(local_data.slice(PAGE, 15 + PAGE*15));
            PAGE++;
          }
        }

        // LOAD NEXT 15 results
        function loadNextBooksGroup(p) {
          append_all_to_table(local_data.slice(p*15, 15 + p*15));
        }

        // APPEND A LIST OF BOOKS
        function append_all_to_table(books) {
          books.forEach(function(book) {
            append_one_to_table(book);
          });

          // INFINITE PAGINATION
          $('#next_results').remove();
          var current = 15 + PAGE * 15;
          var total = local_data.length;
          $list.append('<a id="next_results">More Results (viewing ' + current + ' of ' + total + ') </a>');

          $('#next_results').click(function(e) {
            e.preventDefault();
            loadNextBooksGroup(PAGE);
            PAGE++;
          });
        }

        // BUILD INDIVIDUAL BOOK ITEM & APPEND IT TO LIST
        function append_one_to_table(book) {
          var $row = $('<li class="list-group-item" style="display: none"></li>');

          var $book = $('<div class="book"></div>')
          var $title = $('<div class="book_title"></div>');
          var $author = $('<div class="book_author"></div>');

          var $data = $('<div class="book_data"></div>')
          var $genre = $('<div class="book_genre">Culture + Society</div>');
          var $length = $('<div class="book_length">225 pages</div>');

          var $recommenders = $('<div class="book_recommenders"></div>');
          var $rec_thumbnail1 = $('<img class="img-circle" src="https://qph.is.quoracdn.net/main-thumb-148986927-50-fbohjmmcrizbhsijbkiuuxdekhbtppdf.jpeg"/>');
          var $rec_thumbnail2 = $('<img class="img-circle" src="http://img2-ak.lst.fm/i/u/64s/25bcf1206e94470aa8525d44f82f635d.png"/>');
          var $rec_thumbnail3 = $('<img class="img-circle" src="https://pbs.twimg.com/profile_images/429346159870488576/N18OCeAD_normal.jpeg "/>');
          var $rec_thumbnail4 = $('<img class="img-circle" src="https://pbs.twimg.com/profile_images/378800000632812409/8df49dbba51e94557c46fe7fd26137ce.jpeg"/>');
          var $rec_thumbnail5 = $('<img class="img-circle" src="https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/pictures/2003/01/27/chomsky.jpg?w=620&q=55&auto=format&usm=12&fit=max&s=8398cfe3da5b90d86320ddf033408005"/>'); 

          // TITLE + AUTHOR
          if (book[0].length > 40) {
            $title.text(book[0].slice(0,40) + '...');
          } else {
            $title.text(book[0]);
          }
          
          $author.text(book[1]);
          $book.append($title).append($author);

          // DATA
          $data.append($genre).append($length);

          // RECOMMENDERS

          $recommenders.append($rec_thumbnail1);

          if (book[2].length > 1) {
            $recommenders.append($rec_thumbnail2);
          }

          if (book[2].length > 2) {
            $recommenders.append($rec_thumbnail3);
          }

          if (book[2].length > 3) {
            $recommenders.append($rec_thumbnail4);
          }

          if (book[2].length > 4) {
            $recommenders.append($rec_thumbnail5);
          }

          $recommenders.append($('<span><a href="#">' + ' (' + book[2].length + ')' + '</a></span>'));

          // POST
          $row.append($book)
              .append($data)
              .append($recommenders);

          $list.append($row);
          $row.fadeIn();
        }
      })
    })()
  </script>
</body>
</html>