<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat" />
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"   
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
</head>
<body>

  <div id="app">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Genre</th>
          <th>Length</th>
          <th>Recommended By</th>
        </tr>
      </thead>
      <tbody>
        <!--  data goes here -->
      </tbody>
    </table>
  </div>

  <script type="text/javascript">
    (function() {
      $(document).ready(function() {
        var local_data = JSON.parse(localStorage.getItem('books_list'));
        var $list = $('body table tbody');

        fetch_books();

        function fetch_books() {
          if (!local_data) {
            $.ajax({
              type: 'GET',
              url: '/api/books',
              success: function(data) {
                append_all_to_table(data);
                localStorage.setItem('books_list', JSON.stringify(data));
              }
            })
          } else {
            append_all_to_table(local_data);
          }
        }

        function append_all_to_table(books) {
          $list.empty();
          books.forEach(function(book, i) {
            append_one_to_table(book, i+1);
          });
        }

        function append_one_to_table(book, rank) {
          var $row = $('<tr></tr>');

          var $title = $('<td class="book_title"></td>');
          var $author = $('<td class="book_author"></td>');
          var $genre = $('<td>Culture & Society</td>');
          var $length = $('<td>225</td>');
          var $recommenders = $('<td class="book_recommenders"></td>');
          var $rec_thumbnail = $('<img class="img-circle" src="https://pbs.twimg.com/profile_images/499742529487523840/IIevX5rR.jpeg"/>');        

          $title.text(book[0]);
          $author.text(book[1]);
          $recommenders.append($rec_thumbnail);
          // $recommenders.text(book[2].join(', '));

          $row.append($title)
              .append($author)
              .append($genre)
              .append($length)
              .append($recommenders);
          $list.append($row);
        }
      })
    })()
  </script>
</body>
</html>