<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"   
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand">Hammock <span id="tagline"> Book recommendations from lofty shelves </span></div>
      </div>
      <div class="collapse navbar-collapse pull-right">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Books</a></li>
          <li><a href="#">Collections</a></li>
          <li><a href="#">Authors</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="app">

    <div class="filters">
      <!-- GENRE -->
      <div class="filter-by-genre">
        <div class="btn-group" role="group" aria-label="filter-by-genre">
          <button type="button" class="btn btn-default"> Physics </button>
          <button type="button" class="btn btn-default"> Math + Econ </button>
          <button type="button" class="btn btn-default"> Psych </button>
          <button type="button" class="btn btn-default"> Life Sciences </button>
          <button type="button" class="btn btn-default"> Philosophy </button>
          <button type="button" class="btn btn-default"> Lit + Arts </button>
          <button type="button" class="btn btn-default"> Culture + Soc </button>
          <button type="button" class="btn btn-default"> All </button>
        </div>
      </div>

      <!-- LENGTH -->
      <div class="filter-by-length">
        <div class="btn-group" role="group" aria-label="filter-by-length">
          <button type="button" class="btn btn-default"> Short </button>
          <button type="button" class="btn btn-default"> Medium </button>
          <button type="button" class="btn btn-default"> Long </button>
        </div>
      </div>

      <!-- AGE -->
      <div class="filter-by-age">
        <div class="btn-group" role="group" aria-label="filter-by-age">
          <button type="button" class="btn btn-default"> &lt 1900 </button>
          <button type="button" class="btn btn-default"> 1900s </button>
          <button type="button" class="btn btn-default"> 2000s </button>
        </div>
      </div>

      <div class="filter-by-frequency">
        <div class="btn-group" role="group" aria-label="filter-by-frequency">
          <button type="button" class="btn btn-default"> Frequently Recommended </button>
        </div>
      </div>

    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Genre</th>
          <th>Length</th>
          <th>Recommended By</th>
        </tr>
      </thead>
      <tbody>
        <!--  data goes here -->
      </tbody>
    </table>
  </div>

  <script type="text/javascript">
    (function() {
      $(document).ready(function() {
        var local_data = JSON.parse(localStorage.getItem('books_list'));
        var $list = $('body table tbody');

        fetch_books();

        function fetch_books() {
          if (!local_data) {
            $.ajax({
              type: 'GET',
              url: '/api/books',
              success: function(data) {
                append_all_to_table(data);
                localStorage.setItem('books_list', JSON.stringify(data));
              }
            })
          } else {
            append_all_to_table(local_data);
          }
        }

        function append_all_to_table(books) {
          $list.empty();
          books.forEach(function(book, i) {
            append_one_to_table(book, i+1);
          });
        }

        function append_one_to_table(book, rank) {
          var $row = $('<tr></tr>');

          var $title = $('<td class="book_title"></td>');
          var $author = $('<td class="book_author"></td>');
          var $genre = $('<td>Culture + Society</td>');
          var $length = $('<td>225</td>');
          var $recommenders = $('<td class="book_recommenders"></td>');
          var $rec_thumbnail1 = $('<img class="img-circle" src="https://qph.is.quoracdn.net/main-thumb-148986927-50-fbohjmmcrizbhsijbkiuuxdekhbtppdf.jpeg"/>');
          var $rec_thumbnail2 = $('<img class="img-circle" src="http://img2-ak.lst.fm/i/u/64s/25bcf1206e94470aa8525d44f82f635d.png"/>');
          var $rec_thumbnail3 = $('<img class="img-circle" src="https://pbs.twimg.com/profile_images/429346159870488576/N18OCeAD_normal.jpeg "/>');     

          $title.text(book[0]);
          $author.text(book[1]);
          $recommenders.append($rec_thumbnail1);
          $recommenders.append($rec_thumbnail2);
          $recommenders.append($rec_thumbnail3);
          // $recommenders.text(book[2].join(', '));

          $row.append($title)
              .append($author)
              .append($genre)
              .append($length)
              .append($recommenders);
          $list.append($row);
        }
      })
    })()
  </script>
</body>
</html>