body, table {
  font-family: 'Open Sans', sans-serif;
}

body {
  /*background-color: #fbfbfb; */
  background-color: white;
}

#app {
  margin: 0 auto;
  width: 60%;
}

table, .filters {
  width: 100%;
  margin: 20px auto;
}

/* NAVBAR */

.navbar {
  background-color: white;
  box-shadow: 0 1px 0 0 rgba(0,0,0,.05),0 2px 4px 0 rgba(0,0,0,.06);
}

.navbar .container-fluid {
  width: 60%;
}

.navbar .navbar-brand {
  color: black;
  cursor: pointer;
}

.navbar .navbar-brand:hover {
  color: black;
  cursor: pointer;
  opacity: 0.5;
}

.navbar .active a {
  background-color: white !important;
  border-bottom: 2px solid #ff4742;
}

#tagline {
  color: #da552f;
  font-size: 0.75em;
  opacity: 0.7;
}

/* CAROUSEL */

.top-book-thumbnails img {
  width: 24.6%;
  height: 245px;
}

/* FILTERS */

.filters button {
  border: 1px solid #a8a4a0;
  color: #a8a4a0;
}

.filters button:hover {
  color: white;
  background-color: #ff4742;
}

.filter-by-genre {
  width: 100%;
  margin: 10px auto;
}

.btn-group {
  width: 100%;
}

.filter-by-genre button {
  width: 12.6%;
}

.filter-by-length, .filter-by-age, .filter-by-frequency {
  width: 30%;
  display: inline-block;
}

.filter-by-length, .filter-by-age {
  margin-right: 4.4%;
}

.filter-by-length button, .filter-by-age button {
  width: 33.3%;
}

.filter-by-frequency button {
  width: 100%;
}

/* TABLE */

.table th, .table td {
  border-top: none !important;
  border-bottom: none !important;
}

th {
  font-size: 1.1em;
  color: #bbbbbb;
}

td {
  padding: 20px;
}

.book_title {
  width: 30%;
}

.book_title:hover {
  color: #ff4742;
  cursor: pointer;
}

.book_author, .book_recommenders {
  width: 20%;
}

.book_recommenders .img-circle {
  width: 15%;
  margin: 0 4px;
}

.book_recommenders .img-circle:hover {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}