<div class="filter-by-age advanced-filter" style="display: none">
  <div class="btn-group" role="group" aria-label="filter-by-age">
    <button type="button" data-age="1900" data-toggle="tooltip" title="Written before 1900" class="age_filter btn btn-default"> &lt; 1900 </button>
    <button type="button" data-age="1901" data-toggle="tooltip" title="Written in the 20th century" class="age_filter btn btn-default"> 1900s </button>
    <button type="button" data-age="2000" data-toggle="tooltip" title="Written in the 21st century" class="age_filter btn btn-default"> 2000s </button>
    <button type="button" data-age="all" class="all_ages age_filter btn btn-default active"> All </button>
  </div>
</div>