<div class="filter-by-genre">
  <div class="btn-group" role="group" aria-label="filter-by-genre">
    <button type="button" data-genre="Math / Science" class="genre_filter btn btn-default"> Math / Science </button>
    <button type="button" data-genre="The Mind" class="genre_filter btn btn-default"> The Mind </button>
    <button type="button" data-genre="Culture" class="genre_filter btn btn-default"> Culture </button>
    <button type="button" data-genre="Econ + Gov" class="genre_filter btn btn-default"> Econ + Gov </button>
    <button type="button" data-genre="Faith" class="genre_filter btn btn-default"> Faith </button>
    <button type="button" data-genre="Fiction" class="genre_filter btn btn-default"> Fiction </button>
    <button type="button" data-genre="Business" class="genre_filter btn btn-default"> Business </button>
    <button type="button" data-genre="All" class="all_genres genre_filter btn btn-default active"> All </button>
  </div>
</div>