<div class="sorting-options advanced-filter" style="display: none">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sort By: Most Popular Books
    </button>
    <div class="dropdown-menu form-control" aria-labelledby="dropdownMenu1">
      <a class="dropdown-item btn btn-default form-control" href="#" data-sort="frequencies_title">Most Popular Books</a>
      <a class="dropdown-item btn btn-default form-control" href="#" data-sort="frequencies_author">Most Popular Authors</a>
      <a class="dropdown-item btn btn-default form-control" href="#" data-sort="alphabatized_title">Alphabetized (Titles)</a>
      <a class="dropdown-item btn btn-default form-control" href="#" data-sort="alphabatized_author">Alphabetized (Authors)</a>
    </div>
  </div>
</div>

