<div class="filter-by-length advanced-filter" style="display: none">
  <div class="btn-group" role="group" aria-label="filter-by-length">
    <button type="button" data-length="short" class="length_filter btn btn-default"> Short </button>
    <button type="button" data-length="medium" class="length_filter btn btn-default"> Medium </button>
    <button type="button" data-length="long" class="length_filter btn btn-default"> Long </button>
    <button type="button" data-length="all" class="all_lengths length_filter btn btn-default active"> All </button>
  </div>
</div>