<footer class="footer">
  <div class="footer-message">
    <p>*List based on GDI/WorldPost's Most Influential Thinkers of 2015 list.</p>
    <p>Any suggestions or tips? Hit us up at <a>hi@bookswell.io</a></p>
  </div>
</footer>